<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test | Django - PyDrive</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <nav>
          <div class="nav-wrapper">
            <a href="#" class="brand-logo">Test Drive</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'list' %}">My docs</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    {% if messages %}
      {% for message in messages %}
        <div class="chip">
          {{ message }}
          <i class="close material-icons">close</i>
        </div>
      {% endfor %}
    {% endif %}

    <div class="row">

      {% block content %}

      {% endblock %}
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</html>
