<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if request.session.code %}
Logout
{% else %}
<a href="#" onclick="login()">Login</a>
{% endif %}
</body>
<script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAbGPtD3YeS_yrIj9UeRQS8umfNtvsdaG4",
    authDomain: "galvanic-tea-189413.firebaseapp.com",
    databaseURL: "https://galvanic-tea-189413.firebaseio.com",
    projectId: "galvanic-tea-189413",
    storageBucket: "",
    messagingSenderId: "741875196850"
  };
  firebase.initializeApp(config);

  function login(){
    var provider = new firebase.auth.GoogleAuthProvider();
    firebase.auth().signInWithPopup(provider).then(function(result) {
      //console.log("Result login - " + JSON.stringify(result));
      var token = result.credential.accessToken;
      var user = result.user;
      alert(result);
        /*$.ajax({
          method: "GET",
          url: "/validate-email/",
          data: {
            'name': user.displayName,
            'email': user.email,
            'token': token,
            'photo': user.photoURL,
            'user_type': type,
          }
        }).done(function(response) {
          if(response.code == 200){
            location.reload(true);
          }else if(response.code == 540){
            alertify.alert('Correo invalido', "El correo "+email+", no se reconoce como un usuario registrado del sistema. Por favor verifiquelo e intentelo de nuevo.", function(){ alertify.success('Aceptar'); });
            logout_google();
          }else if(response.code == 500){
            alertify.alert('Error interno', "No se puede conectar con el servidor, por favor intentelo más tarde.", function(){ alertify.success('Aceptar'); });
            logout_google();
          }
        });*/
    }).catch(function(error) {
      var errorCode = error.code;
      var errorMessage = error.message;
      var email = error.email;
      var credential = error.credential;
    });
  }

</script>
</html>
